
:root{
    --lime-green:  hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --faceebok: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: hsl(37, 97%, 70%), hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    --ld-toggle: hsl(230, 22%, 74%);
    --ld-bg: hsl(0, 0%, 100%);
    --ld-top-bg: hsl(225, 100%, 98%);
    --ld-card-bg: hsl(227, 47%, 96%);
    --ld-text:  hsl(228, 12%, 44%);
    --ld-text2: hsl(230, 17%, 14%);
}

.dark-mode{
    --ld-toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --ld-bg: hsl(230, 17%, 14%);
    --ld-top-bg: hsl(232, 19%, 15%);
    --ld-card-bg: hsl(228, 28%, 20%);
    --ld-text:  hsl(228, 34%, 66%);
    --ld-text2: hsl(0, 0%, 100%);
}


*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    background-color: var(--ld-bg);
}

.justify-end{
    justify-content: start !important;
  
}



main, header{
    width: 88%;
    max-width: 1300px;
}

h1, 
h2,
.flex p:first-child{
    color: var(--ld-text2);
}

.title span,
p:not(.positive, .negative),
main > h2,
h3{
    color: var(--ld-text);
    font-weight: 600;
}

.positive, .negative{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3px;
}

.positive{
    color: var(--lime-green);
}

.negative{
    color: var(--bright-red);
}

/* headeeer */

header{
    margin-top: 1rem;
    z-index: 3;
}

.title div:first-child{
    border-bottom: 1px solid var(--ld-text);
    position: relative;
    z-index: 2;
}

h1{
    margin: 0;
    font-size: 1.6em;
    line-height: 1.5;
}

.title div:first-child p{
    margin-top: 0;
}

.background{
    position: absolute;
    width: 100vw;
    height: 180px;
    background-color: var(--ld-top-bg);
    top: 0;
    left: 0;
    z-index: 1;
}

header section, .btn{
    position: relative;
    z-index: 2;
}

.btn{
    margin: 1rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn button{
    width: 3rem;
    height: 1.4rem;
    padding: 0.2rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background: var(--ld-toggle);
    border: none;
    justify-content: end;
    cursor: pointer;
}

.btn button span{
    width: 1rem;
    height: 1rem;
    background-color: var(--ld-bg);
    border-radius: 100%;
}

header section{
    display: grid;
    gap: 20px;
   
}

header article{
    display: grid;
    place-content: center;
    background: var(--ld-card-bg);
    border-radius: 8px;
    text-align: center;
    position: relative;
}

header article div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0 0;
}

header h2{
    font-size: 3em;
    margin: 0;
}

header article > p:first-of-type{
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin:0;
}

header article > p:last-of-type{
    margin: 1.5rem 0;
    gap: 3px;
    justify-content: center;
}

header article::before{
    position: absolute;
   content: "";
   width: 100%;
   height: 5px;
   top: 0;
   border-radius: 8px 8px 0px 0px;
}

header article:nth-child(1)::before{
    background: var(--faceebok);
}
header article:nth-child(2)::before{
    background: var(--twitter);
}

header article:nth-child(3)::before{
    background: linear-gradient(to right, var(--instagram));
}

header article:nth-child(4)::before{
    background: var(--youtube);
}

/* MAIN   */

main{
    margin-top: 2rem;
}

main > h2{
    font-weight: 800;
    font-size: 1.6em;
}

main section{
    display: grid;
    gap: 15px;
}

main article{
    background-color: var(--ld-card-bg);
    padding: 1.3rem;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex div{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.flex p, .flex h3{
    margin: 0;
}

.flex p:first-child{
   font-size: 2.2em;
}

@media (min-width: 800px) {
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn{
        gap: 20px;
    }
    .title div:first-child{
        border: none;
    }
    .title{
        margin-bottom: 3rem;
    }

    header section{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 20px;
    }
    header article{
        flex-grow: 1;
    }

    .grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .grid article{
        border-radius: 8px;
    }

   

  }